@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

*{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    /* background:#fff; */
    background-image: url("https://thumbs.dreamstime.com/b/real-estate-home-loan-mortgages-model-house-piggy-bank-calculator-financial-report-desk-real-estate-investments-113138658.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-size: cover;
}

.form-modal{
    position: absolute;
    width:500px;
    height:auto;
    margin-top:1em;
    left:30%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1)
}
.form2{
    position: relative;
    margin-top:8em;
    left: 75%;
}
.form3{
    position: relative;
    margin-top:10em;
    left: 75%;
}
.form-modal button{
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size:1em;
    z-index: 2;
    outline: none;
    background:#fff;
    transition:0.2s;
}

.form-modal .btn{
    border-radius: 20px;
    border:none;
    font-weight: bold;
    font-size:1.2em;
    padding:0.8em 1em 0.8em 1em!important;
    transition:0.5s;
    border:1px solid #ebebeb;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.form-modal .login , .form-modal .signup{
    background:#6b1067;
    color:#fff;
}

.form-modal .login:hover , .form-modal .signup:hover{
    background:rgb(197, 171, 21);
}

.form-toggle{
    position: relative;
    width:100%;
    height:auto;
}

.form-toggle button{
    width:50%;
    float:left;
    padding:1.5em;
    margin-bottom:1.5em;
    border:none;
    transition: 0.2s;
    font-size:1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1){
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
    border-bottom-left-radius: 20px;
}

#man-toggle{
    background:#33cc99;
    color:#ffff;
}

.form-modal form{
    position: relative;
    width:90%;
    height:auto;
    left:50%;
    transform:translateX(-50%);  
}

#man-form , #dep-form{
    position:relative;
    width:100%;
    height:auto;
}

#dep-form{
    display: none;
}


#man-form button , #dep-form button{
    width:100%;
    margin-top:0.5em;
    padding:0.6em;
}

.form-modal input{
    position: relative;
    width:100%;
    font-size:1em;
    padding:1.2em 1.7em 1.2em 1.7em;
    margin-top:0.6em;
    margin-bottom:0.6em;
    border-radius: 20px;
    border:none;
    background:#ebebeb;
    outline:none;
    font-weight: bold;
    transition:0.4s;
}

.form-modal input:focus , .form-modal input:active{
    transform:scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder{
    color:#A9A9A9;
}


.form-modal p{
    font-size:16px;
    font-weight: bold;
}

.form-modal p a{
    color:#33cc99;
    text-decoration: none;
    transition:0.2s;
}

.form-modal p a:hover{
    color:#222;
}


.form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
}


.-box-sd-effect:hover{
    box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

@media only screen and (max-width:500px){
    .form-modal{
        width:100%;
    }
}

@media only screen and (max-width:400px){
    i{
        display: none!important;
    }
}
h1 {
    color:#74032e;
    font-size: 45px;
    text-align: center;
}
h2{
    color:navy;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

h3 {
    color:#521339;
    font-size: 25px;
    text-align: center;
}

.custom {
    border-radius:20px;
    border:none;
    font-weight: bold;
    font-size:1.0em;
    padding:0.8em 1em 0.8em 1em!important;
    transition:0.5s;
    border:1px solid #ebebeb;
    margin-bottom:0.5em;
    margin-top:0.5em;
    align-self: center;
    align-content: right;

}

#vehicleDetails {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#vehicleDetails td, #vehicleDetails th {
    border: 1px solid #ddd;
    padding: 8px;
}

#vehicleDetails tr:nth-child(even){background-color: #f2f2f2;}

#vehicleDetails tr:hover {background-color: #ddd;}

#vehicleDetails th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #440641;
    color: white;
}

a{
    text-decoration-line: none;
    position: absolute;
    top: 0px;
    margin-left: 60px;
    right: 560px;
   
   
}
a h3:hover{
    color: rgb(15, 110, 15);
    
}
.a3{
 margin-left: 420px;
 right: 340px;
}
.a2{
    margin-left: 250px;
    right: 120px;
}
.a4{
    /* margin-left: 740px; */
    right: 800px;
}
.a5{
    /* margin-left: 940px; */
    right: 1040px;
}
.a6{
    right: 1210px;
}
button{
    color: transparent;
    size: 20px;
    margin: 0%;
    padding: 0%;
}
P{
    text-align: justify;
    color: rgb(17, 16, 16);
    font-weight: bolder;
    font-size: large;
    font-style: oblique;
    margin-top: 30px;
    margin-right: 90px;
    margin-left: 60%;
}
